<!--<div class="editActions freshswatch">-->
  <div class="editActions <% if ((freshTotal/freshVotes) >= 0.5) {
		 %>freshswatch<% } else { %>rottenswatch<% } %>">
        <% if (typeof(_id) !== 'undefined' && typeof(_id) !== null) { %>
    	    <a href="#movies/<%= _id %>/reviews" class="plain">
		<span class="swatch details">
		<%= ((freshTotal/freshVotes)*100).toFixed(0) %>%
		(<%= freshVotes %>)</span></a>
        <% } %>
    <span class="noswatch">
    <input type="button" id="moviesave" class="btn btn-primary save authclass"
		name="save" value="Save Changes"/>
    <input type="button" id="moviedel" class="btn btn-danger delete authclass"
		name="delete" value="Delete Movie"/>
    </span>
</div>

<div>
  <p id="dropImage">
    <img id="editImage" class="editImage img-responsive" src="<%= poster %>"/>
  </p>

  <div class="imageSelect">
     <label for="imageInput" class="fileInput btn btn-info uploadLabel">
       <input id="imageInput" name="file" type="file" 
              class="fileImage authattr"
              accept="image/*" capture="camera"/>
       <span>Snap Photo/<br/>Choose File</span>
     </label>
     <p class="buttonInstructions">
       <em class="photoUpload">drag-drop photo onto above image, or</em>
     </p>
  </div>
</div>
